@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');


#root{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-left: 5vw;
    width: 90vw;
}

.radius-btn{
    transition: all 0.3s;
}
.radius-btn:hover{
    background-color: lightgrey;
    border-radius: 25px;
}